@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600:900&family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(2200px, 100vw);
    height: 90vh;
    position: relative;

}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    width: 10.9em;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}

.separation {
    height: 7px;
    background-color: rgb(59, 59, 59);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border: none;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 12px 42px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.main input {
    padding: 12px 12px;
    width: 300px;
    font-size: 20px;
    border-radius: 4px;
    background: rgba(22, 22, 22, 0.7);
    border-color: rgb(235, 57, 66);
    border-radius: 4px;
    color: rgb(255, 255, 255);
}

.main input::placeholder {
    color: rgb(216, 213, 207);
    font-size: 16px;
}

.subscribe {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    max-width: 70vw;
    margin: auto;
    color: white;
    /* flex-wrap: wrap; */
}

.secImg {
    position: relative;
}

.secImg img {
    width: 500px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    right: 53px;
    top: 112px;
    width: 380px;
}

.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s cubic-bezier(0, 0, 0.18, 1.13);
    font-size: 24px;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin: 30px auto;
    max-width: 80vw;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}


@media screen and (max-width: 1300px) {
    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 217px;
        top: 84px;
        right: 44px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
 
}

/* Media query for small devices */
@media screen and (max-width: 530px) {
    .hero> :nth-child(1) {
        font-size: 2.2rem;
        font-weight: 900;
        text-align: center;
    }

    .hero> :nth-child(2) {
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
    }

    .hero> :nth-child(3) {
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
    }

    .hero {
        bottom: 44px;
    }

    nav img {
        width: 6.9em;
        position: relative;
        z-index: 10;
    }
}

@media screen and (max-width: 400px) {
    .hero> :nth-child(1) {
        font-size: 1.8rem;
        font-weight: 900;
        text-align: center;
    }

    .hero> :nth-child(2) {
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
    }

    .hero> :nth-child(3) {
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
    }

    .main input {
        width: 200px;
    }

    .btn-red {
        font-size: 15px;
    }
}